<a href="https://colab.research.google.com/github/aravind1782/python/blob/main/regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import re
txt = "the rain in spain"
x = re.sub ("\s","4",txt)
print(x)

the4rain4in4spain

## replacing spaace with numbers

In [6]:
import re

#Replace all white-space characters with the digit "9":

txt = "The rain in Spain"
x = re.sub("\s", "ss",txt)
print(x)

ThessrainssinssSpain

In [8]:
import re
txr = "the rain in spain"
x = re.search("in",txt)
print(x)

<re.Match object; span=(6, 8), match='in'>

## finding in the text

In [10]:
import re
txr = "the rain in spain"
x = re.findall("in",txt)
print(x)
if x:
  print("yes there is a match")
else:
  print("no match")

['in', 'in', 'in']
yes there is a match

In [11]:
import re
txr = "the rain in spain"
x = re.findall("portugal",txt)
print(x)
if x:
  print("yes there is a match")
else:
  print("no match")

[]
no match

In [12]:
import re
txt = "the rain in spain"
x = re.split ("\s",txt)
print(x)

['the', 'rain', 'in', 'spain']

##spliting the text by selecting number

In [13]:
import re
txt = "the rain in spain"
x = re.split ("\s",txt,2)
print(x)

['the', 'rain', 'in spain']